#*******************************
# LOCAL SERVER CONFIGURATION
#*******************************
HOST=
PORT=

#*******************************
# DATABASE CONFIGURATION
#*******************************
DB_DRIVER=
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_NAME=